

<p>Hi <%= @booking.user.username%> <br/>
 Your booking has been cancelled </p>

<h4>
<%= @booking.start_date %>
<%= @booking.end_date %> </h4>
   
    

<b> Sorry you for booking was cancelled with us</b>




