

<p>Hi <%= @room.name%> <br/>
 Your room has been booked </p>

            <h4>
                <%= @room.price %>
                <%= @room.description %> </h4>
   
    

<b> Thank you for booking room with us</b>