<h2>Listing Amenities </h2>


<li><% @amenities.each do |amenity| %></li>
Name - <%= amenity.name %><br>
Description - <%= amenity.description %><br>
<% end %>

<% if can? :create, Amenity.new %>
<%= link_to 'New Amenities', new_amenity_path %>
<% end %>